@font-face {
  font-family: ISOCP;
  src: url(/font/ISOCP.ttf);
  src: local(※), url(/font/ISOCP.ttf) format(‘ttf’);
}

:root {
  --iscocp: "ISOCP", ISCOP;
}
html {
  font-size: 62.5%;
}

.main1 {
  display: flex;
  font-family: var(--iscocp);
  font-size: 12.8rem;
  color: white;
  justify-content: center;
  align-items: center;

  .main1-text {
    position: absolute;
  }
  .rectengle {
    width: 86.5rem;
    height: 38.6rem;
    border: 0.3rem solid #e2e2e2;
    position: absolute;
  }
}

.character {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 50%;
}
